.container {
    max-width: 1400px;
    margin: auto;
    max-height: 80vh;
    overflow-y: auto;
}

.container .text {
    text-align: center;
    padding: 20px;
}



.window{
    position: relative;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px; 
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}

h2, p{
    text-align: center;
    padding: 5px;
}

